@model UpamtiMe.Models.EditProfileModel

@{
    ViewBag.Title = "Edit";
}

<main id="users-edit">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="profile-banner">
            @Helper.Image(Model.Image, "class", "avatar")
            <div id="image-upload-prompt" class="tooltippable" data-tooltip-text="Promeni avatar" data-tooltip-direction="right">
                <i class="fa fa-pencil"></i>
            </div>
            @*<div id="image-upload" style="display: none">
                @using (Html.BeginForm("EditImage", "Courses", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    <div>
                        <label for="file">Izaberi sliku:</label>
                        <input type="file" name="file" id="file" /><br><br>
                    </div>
                    <div>
                        <input type="submit" value="Upload Image" class="submit" id="btn-upload-image" />
                        <input name="courseID" value="@Model.UserID" style="display: none" />
                    </div>
                    @ViewBag.Message
                }
            </div>*@
            <div class="basic-info">
                <h1 id="user-name-surname">
                    <input name="Name" type="text" value="@Model.Name" placeholder="Ime">&nbsp;<input name="Surname" type="text" value="@Model.Surname" placeholder="Prezime">
                </h1>
                <h2 id="user-username"><span>@@ipakDajUsername</span>&nbsp;&nbsp;<input name="Location" type="text" value="@Model.Location" placeholder="Lokacija"></h2>
                <div id="user-bio"><textarea name="Bio" placeholder="Unesi biografiju">@Model.Bio</textarea></div>
            </div>
        </div>
        
        <button type="submit" value="Save">Sačuvaj izmene</button>
    }
</main>