@model UpamtiMe.Models.UserIndexModel
@using Data
@using Data.DTOs
@{
    ViewBag.Title = "Index";
}


<main id="users-index">

    <ul id="user-stats" class="big-container">
        <li>stats1</li>
        <li>stats2</li>
        <li>stats3</li>
        <li>stats4</li>
        <li class="more"><i class="fa fa-arrows-alt"></i></li>
        <li class="full-screen">
            <ul>
                <li>stats1</li>
                <li>stats2</li>
                <li>stats3</li>
                <li>stats4</li>
                <li>stats5</li>
                <li>stats6</li>
            </ul>
        </li>
    </ul>

    <ul id="user-leaderboard" class="big-container">
        <li><dl class="stats-horizontal"><dt>Username1</dt><dd>69</dd></dl></li>
        <li class="you"><dl class="stats-horizontal"><dt>Username2</dt><dd>69</dd></dl></li>
        <li><dl class="stats-horizontal"><dt>Username3</dt><dd>69</dd></dl></li>
        <li><dl class="stats-horizontal"><dt>Username4</dt><dd>69</dd></dl></li>
        <li><dl class="stats-horizontal"><dt>Username5</dt><dd>69</dd></dl></li>
        <li><dl class="stats-horizontal"><dt>Username6</dt><dd>69</dd></dl></li>
        <li><dl class="stats-horizontal"><dt>Username7</dt><dd>69</dd></dl></li>
        <li><dl class="stats-horizontal"><dt>Username8</dt><dd>69</dd></dl></li>
        <li class="more"><i class="fa fa-arrows-alt"></i></li>
        <li class="full-screen">
            <ul>
                <li><dl class="stats-horizontal"><dt>Username1</dt><dd>69</dd></dl></li>
                <li class="you"><dl class="stats-horizontal"><dt>Username2</dt><dd>69</dd></dl></li>
                <li><dl class="stats-horizontal"><dt>Username3</dt><dd>69</dd></dl></li>
                <li><dl class="stats-horizontal"><dt>Username4</dt><dd>69</dd></dl></li>
                <li><dl class="stats-horizontal"><dt>Username5</dt><dd>69</dd></dl></li>
                <li><dl class="stats-horizontal"><dt>Username6</dt><dd>69</dd></dl></li>
                <li><dl class="stats-horizontal"><dt>Username7</dt><dd>69</dd></dl></li>
                <li><dl class="stats-horizontal"><dt>Username8</dt><dd>69</dd></dl></li>
                <li><dl class="stats-horizontal"><dt>Username9</dt><dd>69</dd></dl></li>
                <li><dl class="stats-horizontal"><dt>Username10</dt><dd>69</dd></dl></li>
                <li><dl class="stats-horizontal"><dt>Username11</dt><dd>69</dd></dl></li>
                <li><dl class="stats-horizontal"><dt>Username12</dt><dd>69</dd></dl></li>
                <li><dl class="stats-horizontal"><dt>Username13</dt><dd>69</dd></dl></li>
                <li><dl class="stats-horizontal"><dt>Username14</dt><dd>69</dd></dl></li>
                <li><dl class="stats-horizontal"><dt>Username15</dt><dd>69</dd></dl></li>
                <li><dl class="stats-horizontal"><dt>Username16</dt><dd>69</dd></dl></li>
                <li><dl class="stats-horizontal"><dt>Username17</dt><dd>69</dd></dl></li>
                <li><dl class="stats-horizontal"><dt>Username18</dt><dd>69</dd></dl></li>
                <li><dl class="stats-horizontal"><dt>Username19</dt><dd>69</dd></dl></li>
                <li><dl class="stats-horizontal"><dt>Username20</dt><dd>69</dd></dl></li>
            </ul>
        </li>
    </ul>

    <ul id="user-courses" class="big-container">
        <button id="load-more-courses">More</button>
        <li><div>1. kurs</div></li>
        <li><div>2. kurs</div></li>
        <li><div>3. kurs</div></li>
        <li><div>4. kurs</div></li>
        <li><div>5. kurs</div></li>
        <li><div>6. kurs</div></li>
        <li><div>7. kurs</div></li>
        <li><div>8. kurs</div></li>
    </ul>

</main>

<script type="text/javascript">
    var BlockNumber = 2;  //Infinate Scroll starts from second block
    var NoMoreData = false;
    var inProgress = false;

    
    $('.more > button').click(function () {
        if (!inProgress) {

            inProgress = true;

            $.post("@Url.Action("InfinateScroll",
            "Users")", { "BlockNumber": BlockNumber },
                    function (data) {

                        BlockNumber = BlockNumber + 1;
                        NoMoreData = data.NoMoreData;
                        $('#user-courses > ul').append(data.HTMLString);
                        //$("#bookListDiv").append(data.HTMLString);
                        //$("#loadingDiv").hide();
                        inProgress = false;
                    });
        }
    });
</script>

<script src="~/Scripts/users-index.js"></script>

@*
    <div>

        <div id="leaderbord">
            <p>All Time</p>

            @foreach (LeaderboardEntryDTO lde in Model.Leaderboard.OrderBy(a => a.AllTimeScore))
            {
                <span>Username: @lde.Username</span>
                <span>AllTimeScore: @lde.AllTimeScore</span>
            }

            <p>This Week</p>
            @foreach (LeaderboardEntryDTO lde in Model.Leaderboard.OrderBy(a => a.WeekScore))
            {
                <span>Username: @lde.Username</span>
                <span>WeekScore: @lde.WeekScore</span>
            }

            <p>This Month</p>
            @foreach (LeaderboardEntryDTO lde in Model.Leaderboard.OrderBy(a => a.MonthScore))
            {
                <span>Username: @lde.Username</span>
                <span>MonthScore: @lde.MonthScore</span>
            }
        </div>

        <div id="courses">
            @foreach (UserCourseDTO ucd in Model.Courses)
            {
                <span>@ucd.Name</span>
                <span>@Enum.GetName(typeof (Enumerations.Categories), ucd.CategoryID)</span>
                if (ucd.SubcategoryID != null)
                {
                    //ovo treba da se izmeni, da bude string direktno u modelu
                    <span>@Courses.getSubcategoryName((int) ucd.SubcategoryID)</span>
                }
                <br/>
                <span>Statistics: Learned/Total/Review</span>
                <span>@ucd.LearningStatistics.Learned</span>
                <span>@ucd.LearningStatistics.Review</span>
                <span>@ucd.LearningStatistics.Total</span>
            }
        </div>

        // dugmici: view profile, edit profile, napravi kurs (mozemo i ko na memrajzu da imamo posebnu stranicu za kurseve) nzm sta jos

    </div>
*@