@using Data.DTOs
@model UpamtiMe.Models.UserProfileModel

@{
    ViewBag.Title = "Profile";
}

<main id="user-profile">

    <div class="profile-banner">
        @Helper.Image(Model.Image, "class", "avatar")
        <div class="basic-info">
            <h1 id="user-name-surname"><span>@Model.Name</span></h1>
            <h2 id="user-username"><span>@@@Model.Username</span></h2>
            <div id="user-bio"><span>@Model.Bio</span></div>
        </div>
    </div>

    <div id="user-stats-first-card">
        <div class="big-stats">
            <div class="icon"><i class="fa fa-line-chart"></i></div>
            <div class="actual-info">
                <div class="title">Poeni</div>
                <div class="primary-info">@Model.Score.ToString()</div>
                <div class="secondary-info">@Model.Score.ToString()</div>
            </div>
        </div>
        <div class="big-stats">
            <div class="icon"><i class="fa fa-fire"></i></div>
            <div class="actual-info">
                <div class="title">Recke</div>
                <div class="primary-info">@Model.Streak</div>
                <div class="secondary-info">Počev od @DateTime.Today.AddDays(-Model.Streak).ToString("dd. MM. yyyy.")</div>
            </div>
        </div>
        <div class="big-stats">
            <div class="icon"><i class="fa fa-file"></i></div>
            <div class="actual-info">
                <div class="title">Broj kartica</div>
                <div class="primary-info">@Model.totalCardsSeen</div>
                <div class="secondary-info">u XXX kurseva</div>
            </div>
        </div>
        <div class="big-stats">
            <div class="icon"><i class="fa fa-users"></i></div>
            <div class="actual-info">
                <div class="title">Pratilaca</div>
                <div class="primary-info">666</div>
                <div class="secondary-info">Prati 666</div>
            </div>
        </div>
    </div>


   
      @if (@ViewBag.friends == Data.Enumerations.FollowStatus.NotFollowing)
      {
        @Html.ActionLink("Follow", "Follow", "Users", new { secondID = Model.UserID }, null)
      }
      else if(@ViewBag.friends == Data.Enumerations.FollowStatus.Following)
      {
        @Html.ActionLink("Unfollow", "Unfollow", "Users", new { secondID = Model.UserID }, null)
      }


</main>