@model UpamtiMe.Models.ProfilePageModel

@{
    ViewBag.Title = "Profile";
}

<main id="user-profile">
    <h2>Profile</h2>

            <!-- prva kartica -->
            <div class="primary-info">

                <div class="avatar"></div>

                <div class="info">

                    <div class="name">
                        <div class="display-name">
                            <span>@Html.DisplayFor(model => model.Name)</span>&nbsp;<span>@Html.DisplayFor(model => model.Surname)</span>
                        </div>
                        <div class="username">@Html.DisplayFor(model => model.Username)</div>
                    </div>

                    <dl class="progress-info">
                        <div class="item">
                            <dt>Kursevi</dt>
                            <dd>??</dd>
                        </div>
                        <div class="item">
                            <dt>Kartice</dt>
                            <dd>@Html.DisplayFor(model => model.totalCardsLearned)</dd>
                        </div>
                        <div class="item">
                            <dt>Poeni</dt>
                            <dd>@Html.DisplayFor(model => model.Score)</dd>
                        </div>
                        <div class="item">
                            <dt>Bedževi</dt>
                            <dd>@Html.DisplayFor(model => model.Achievements).ToString()??</dd>
                        </div>
                    </dl>

                </div>
            
            </div>

            <!-- Druga kartica -->
            <div class="secondary-info">

                <div class="bio">
                    @Html.DisplayFor(model => model.Bio)
                    Lorem ipsum
                </div>

                <dl>
                    <div>
                        <dd>haha</dd>
                        <dt>12</dt>
                    </div>
                    <div>
                        <dd>hehe</dd>
                        <dt>15</dt>
                    </div>
                    <div>
                        <dd>hihi</dd>
                        <dt>2342</dt>
                    </div>
                    <div>
                        <dd>hoho</dd>
                        <dt>0.5</dt>
                    </div>
                </dl>

            </div>

</main>