@using Data.DTOs
@using Data
@model UpamtiMe.Models.UserProfileModel

@{
    ViewBag.Title = "Profile";
}
@{ LoginDTO user = UserSession.GetUser();}

<main id="user-profile">

    <div class="profile-banner">
        @Helper.Image(Model.Image, "class", "avatar")
        <div class="basic-info">
            <h1 id="user-name-surname"><span>@Model.Name</span>&nbsp;<span>@Model.Surname</span></h1>
            <h2 id="user-username"><span>@@@Model.Username</span>&nbsp;@if (@Model.Location != null && Model.Location != "") {<span>(@Model.Location)</span>}</h2>
            <div id="user-bio"><span>@Model.Bio</span></div>
            @if (user != null)
            {
                <div id="course-actions">
                    @if (user.UserID == Model.UserID)
                    {
                        <a id="button-edit-course" class="button-link" href="@Url.Action("Edit", "Users")">
                            <div class="button tooltippable" data-tooltip-text="Izmeni profil" data-tooltip-direction="left">
                                <i class="fa fa-pencil"></i>
                            </div>
                        </a>
                    }
                    @if (@ViewBag.friends == Data.Enumerations.FollowStatus.NotFollowing)
                    {
                        <a id="button-favorite" class="button-link" href="@Url.Action("Follow", new { firstID = user.UserID, secondID = Model.UserID })">
                            <div class="button tooltippable" data-tooltip-text="Počni da pratiš" data-tooltip-direction="left">
                                <i class="fa fa-user-plus"></i>
                            </div>
                        </a>
                    }
                    else if (@ViewBag.friends == Data.Enumerations.FollowStatus.Following)
                    {
                        <a id="button-favorite" class="button-link" href="@Url.Action("Unfollow", new { firstID = user.UserID, secondID = Model.UserID })">
                            <div class="button tooltippable" data-tooltip-text="Prestani da pratiš" data-tooltip-direction="left">
                                <i class="fa fa-user-times"></i>
                            </div>
                        </a>
                    }
                </div>
            }
        </div>
    </div>

    <div id="user-stats-first-card">
        <div class="big-stats">
            <div class="icon"><i class="fa fa-line-chart"></i></div>
            <div class="actual-info">
                <div class="title">Poeni</div>
                <div class="primary-info">@Model.Score.beautify()</div>
                <div class="secondary-info">@Model.Score.ToString()</div>
            </div>
        </div>
        <div class="big-stats">
            <div class="icon"><i class="fa fa-fire"></i></div>
            <div class="actual-info">
                <div class="title">Recke</div>
                <div class="primary-info">@Model.Streak</div>
                <div class="secondary-info">Počev od @DateTime.Today.AddDays(-Model.Streak).ToString("dd. MM. yyyy.")</div>
            </div>
        </div>
        <div class="big-stats">
            <div class="icon"><i class="fa fa-file"></i></div>
            <div class="actual-info">
                <div class="title">Broj kartica</div>
                <div class="primary-info">@Model.totalCardsSeen</div>
                <div class="secondary-info">u @Model.numCourses kurseva</div>
            </div>
        </div>
        <div class="big-stats">
            <div class="icon"><i class="fa fa-users"></i></div>
            <div class="actual-info">
                <div class="title">Pratilaca</div>
                <div class="primary-info">@Model.Followers.ToArray().Count()</div>
                <div class="secondary-info">Prati @Model.Following.ToArray().Count()</div>
            </div>
        </div>
    </div>

    @if (Model.Courses.Count != 0)
    {
    <h2>Kursevi korisnika @@@Model.Username</h2>
    <div id="user-courses">
        <ul>
            @foreach (Data.DTOs.CourseDTO course in @Model.Courses)
            {
                @Helper.SearchResult(
                    Url, course.CourseID, course.Name, course.CategoryID, course.CategoryName, course.SubcategoryID, course.SubcategoryName,
                    course.Description, course.ParticipantCount, course.NumberOfCards, course.Rating, course.CreatorID, course.CreatorUsername, course.Image,
                    course.Erolled
                )
            }
        </ul>
    </div>
    }

    <h2>@Model.Name ima @Model.Followers.Count @(Model.Followers.Count == 1 ? "pratioca" : "pratilaca")</h2>
    @if (Model.Followers.Count != 0)
    {
        <div id="user-followers">
            <ul>
                @foreach (Data.DTOs.FollowerDTO f in Model.Followers)
                {
                    <li>
                        @{
                            var image = f.Avatar;
                            var base64 = Convert.ToBase64String(image.ToArray());
                            var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
                            <div class="follow-avatar" style="background-image: url('@imgSrc')">
                                <a href="@Url.Action("Profile", "User", new { id = f.UserID })"></a>
                            </div>
                        }
                        <div class="follow-info">
                            <span class="follow-name">@f.FirstName @f.LastName</span>
                            <span class="follow-username"><a href="@Url.Action("Profile", "User", new { id=f.UserID })">@@@f.Username</a></span>
                            <div class="follow-stats">
                                <dl class="tooltippable" data-tooltip-text="Recke" data-tooltip-direction="bottom">
                                    <dt><i class="fa fa-fire"></i></dt>
                                    <dd>123</dd>
                                </dl>
                                <dl class="tooltippable" data-tooltip-text="Broj poena" data-tooltip-direction="bottom">
                                    <dt><i class="fa fa-line-chart"></i></dt>
                                    <dd>123k</dd>
                                </dl>
                            </div>
                        </div>
                    </li>
                }
            </ul>
        </div>
    }

    <h2>@Model.Name prati @Model.Following.Count korisnika</h2>
    @if (Model.Following.Count != 0)
    {
        <div id="user-followings">
            <ul>
                @foreach (Data.DTOs.FollowerDTO f in Model.Following)
                {
                    <li>
                        @{
                            var image = f.Avatar;
                            var base64 = Convert.ToBase64String(image.ToArray());
                            var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
                            <div class="follow-avatar" style="background-image: url('@imgSrc')">
                                <a href="@Url.Action("Profile", "User", new { id = f.UserID })"></a>
                            </div>
                        }
                        <div class="follow-info">
                            <span class="follow-name">@f.FirstName @f.LastName</span>
                            <span class="follow-username"><a href="@Url.Action("Profile", "User", new { id = f.UserID })">@@@f.Username</a></span>
                            <div class="follow-stats">
                                <dl class="tooltippable" data-tooltip-text="Recke" data-tooltip-direction="bottom">
                                    <dt><i class="fa fa-fire"></i></dt>
                                    <dd>123</dd>
                                </dl>
                                <dl class="tooltippable" data-tooltip-text="Broj poena" data-tooltip-direction="bottom">
                                    <dt><i class="fa fa-line-chart"></i></dt>
                                    <dd>123k</dd>
                                </dl>
                            </div>
                        </div>
                    </li>
                }
            </ul>
        </div>
    }
    


</main>