@model UpamtiMe.Models.CreateNewCourseModel
@{
    ViewBag.Title = "CreateNew";
}

@{
    List<SelectListItem> categories = new List<SelectListItem>();
    foreach (var val in Enum.GetValues(typeof (Data.Enumerations.Categories)))
    {
        categories.Add(new SelectListItem
        {
            Text = Enum.GetName(typeof (Data.Enumerations.Categories), val),
            Value = ((int) val).ToString()
        });
    }
}

@{
    List<SelectListItem> subcategories = new List<SelectListItem>();
    foreach (var sub in Model.AllSubcategories )
    {
        subcategories.Add(new SelectListItem
        {
            Text = sub.name,
            Value = ((int)sub.subcategoryID).ToString()
        });
    }
}

<main id="create-new">
    <aside> 
        <h2>Napravi novi kurs</h2>

        <div class="inputs-and-buttons">
            @using (Html.BeginForm())
            {
                <div class="inputs">

                    <div id="new-course-name">
                        @Html.EditorFor(m => m.Name)
                    </div>

                    <div id="new-course-category">
                        @Html.DropDownListFor(m => m.CategoryID, categories, "Izaberi kategoriju")
                    </div>

                    <div id="new-course-subcategory">
                        <select id="@Html.NameFor(m => m.SubcategoryID)" name ="@Html.NameFor(m=>m.SubcategoryID)">
                            <option value="0">Izaberi podkategoriju</option>
                            @foreach (var subcat in Model.AllSubcategories)
                            {
                                <option hidden value="@subcat.subcategoryID" data-catID="@subcat.categoryID">@subcat.name</option>
                            }
                        </select>
                    </div>

                </div>

                <input id="create-new-course-button" type="submit" value="Kreiraj" />
            }
        </div>
    </aside>
</main>


<script src="~/Scripts/create-new-course.js"></script>

