@using Data
@model UpamtiMe.Models.EditCourseModel

@{
    ViewBag.Title = "EditCourse";
}
@{
    List<SelectListItem> categories = new List<SelectListItem>();
    foreach (var val in Enum.GetValues(typeof(Data.Enumerations.Categories)))
    {
        categories.Add(new SelectListItem
        {
            Text = Enum.GetName(typeof(Data.Enumerations.Categories), val),
            Value = ((int)val).ToString()
        });
    }
}

@{
    List<SelectListItem> subcategories = new List<SelectListItem>();
    foreach (var sub in Model.AllSubcategories)
    {
        subcategories.Add(new SelectListItem
        {
            Text = sub.name,
            Value = ((int)sub.subcategoryID).ToString()
        });
    }
}


<main id="edit-course">

    <div class="basic-info">
        <h1 id="course-name"><span class="editable">@Model.Name</span></h1>

    <div class="description">
        <span>@Model.Description</span>
    </div>

        <div class="cat-subcat">
            <select id="category">
                @foreach (var cat in categories)
                {
                    <option value="@cat.Value" @( cat.Value == Model.CategoryID.ToString() ? "selected" : "" )>@cat.Text</option>
                }
            </select>


            
            <select id="subcategory" data-subcat ="@Model.SubcategoryID">
                @foreach (var subcat in Model.AllSubcategories)
                {
                    <option value="@subcat.subcategoryID" data-catID="@subcat.categoryID"> @subcat.name </option>
                }
            </select>
        
       </div>



     </div>

    <ul id="course" data-course-id=@Model.CourseID>
        @foreach (LevelsDTO level in Model.Levels)
        {
            <li>
                <div class="level-info">
                    <div class="level-name">
                        <div class="toggle-button"><i class="fa fa-plus"></i></div>
                        <div class="icon icon-id-3 level-red"><span></span></div>
                        <span>@level.Name</span>
                    </div>
                    <div class="buttons">
                        <div class="options-button"><i class="fa fa-cog"></i></div>
                    </div>
                </div>
                <ul class="level" data-level-id=@level.LevelID data-level-number=@level.Number data-level-type=@level.Type>
                    @foreach (CardDTO card in level.Cards)
                    {
                        <li data-card-id=@card.CardID data-card-number=@card.Number>
                            <div class="card-info">
                                @if (card.Question != null)
                                {
                                    <span class="question">@card.Question</span>
                                }
                                else
                                {
                                    if (card.Image != null)
                                    {
                                        <span class="image">@card.Image</span>
                                        <div>upload dugme</div>
                                    }
                                }
                                <span class="answer">@card.Answer</span>
                                <span class="description">@card.Description</span>
                            </div>
                            <div class="buttons">
                                <div class="change-button"><i class="fa fa-pencil"></i></div>
                                <div class="remove-button"><i class="fa fa-trash"></i></div>
                                <div class="accept-button"><i class="fa fa-check"></i></div>
                                <div class="discard-button"><i class="fa fa-times"></i></div>
                                <div class="undo-button"><i class="fa fa-undo"></i></div>
                            </div>
                        </li>
                    }
                    <li class="new-card collapsed">
                        <div class="inner-wrapper">
                            <div><span>Pitanje:</span> <input class="question" type="text" /></div>
                            <div><span>Odgovor</span> <input class="answer" type="text" /></div>
                            <div><span>Opis:</span> <input class="description" type="text" /></div>
                        </div>
                        <div class="add-button" data-function="expand"><i class="fa fa-plus"></i></div>
                    </li>
                </ul>
            </li>
        }
        <li id="new-level" class="collapsed">
            <div class="inner-wrapper">
                <div>
                    <span>Tip nivoa:</span>
                    <select>
                        <option value="simple">simple</option>
                        <option value="complex">complex</option>
                        <option value="image">image</option>
                    </select>
                </div>
                <div>
                    <span>Ime nivoa:</span>
                    <input type="text" />
                </div>
            </div>
            <div class="add-button" data-function="expand">+</div>
        </li>

    </ul>

    <div class="button" id="save"><i class="fa fa-floppy-o"></i></div>

</main>

<!--<div>
    @Html.ActionLink("Back to List", "Index")
</div>-->

<script src="~/Scripts/edit-course.js"></script>
