@using Data
@model UpamtiMe.Models.EditCourseModel

@{
    ViewBag.Title = "Edit";
}
@{
    List<SelectListItem> categories = new List<SelectListItem>();
    foreach (var val in Enum.GetValues(typeof(Data.Enumerations.Categories)))
    {
        categories.Add(new SelectListItem
        {
            Text = Enum.GetName(typeof(Data.Enumerations.Categories), val),
            Value = ((int)val).ToString()
        });
    }
}

@{
    List<SelectListItem> subcategories = new List<SelectListItem>();
    foreach (var sub in Model.AllSubcategories)
    {
        subcategories.Add(new SelectListItem
        {
            Text = sub.name,
            Value = ((int)sub.subcategoryID).ToString()
        });
    }
}


<main id="edit-course">

    <div class="course-banner">

        @Helper.Image(Model.Image, "class", "avatar")

        <div id="image-upload-prompt">
            <i class="fa fa-pencil"></i>
        </div>

        <div id="image-upload" style="display: none">
            @using (Html.BeginForm("EditImage", "Courses", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <div>
                    <label for="file">Izaberi sliku:</label>
                    <input type="file" name="file" id="file" /><br><br>
                </div>
                <div>
                    <input type="submit" value="Upload Image" class="submit"  id="btn-upload-image"/>
                    <input name="courseID" value="@Model.CourseID" style="display: none" />
                </div>
                @ViewBag.Message
            }
        </div>
        
        <div class="basic-info">

            <h1 id="course-name"><span class="editable">@Model.Name</span></h1>

            <div class="cat-subcat">
                <select id="category">
                    @foreach (var cat in categories)
                    {
                        <option value="@cat.Value" @( cat.Value == Model.CategoryID.ToString() ? "selected" : "" )>@cat.Text</option>
                    }
                </select>
                <i class="fa fa-caret-right"></i>
                <select id="subcategory" data-subcat="@Model.SubcategoryID">
                    <option value="0">Izaberi podkategoriju</option>
                    @foreach (var subcat in Model.AllSubcategories)
                    {
                        <option value="@subcat.subcategoryID" data-catID="@subcat.categoryID" @(Model.SubcategoryID == subcat.subcategoryID ? "selected" : "")>@subcat.name</option>
                    }
                </select>
            </div>

            <div id="course-description">
                <div id="course-description-length-indicator" class="invisible"><span class="curr">@(Model.Description == null ? 0:Model.Description.Length)</span><span class="slash">/</span><span class="total">2000</span></div>
                <div id="course-description-buttons">
                    <div id="course-description-edit-button">
                        <div class="button" id="btn-course-description-edit"><i class="fa fa-pencil"></i></div>
                    </div>
                    <div id="course-description-other-buttons">
                        <div class="button" id="btn-course-description-accept" style="display: none;"><i class="fa fa-check"></i></div>
                        <div class="button" id="btn-course-description-discard" style="display: none;"><i class="fa fa-times"></i></div>
                    </div>
                </div>
                <span>@Model.Description</span>
            </div>

        </div>

    </div>

    <ul id="course" data-course-id=@Model.CourseID>
        @foreach (LevelWithCardsDTO level in Model.Levels)
        {
            <li>
                <div class="level-info">
                    <div class="level-name">
                        <div class="toggle-button"><i class="fa fa-plus"></i></div>
                        <div class="icon-picker-button icon tooltippable" data-tooltip-text="Izaberi ikonicu" data-icon-id="@(level.Icon == 0 ? 1 : level.Icon)" data-color-id="@(level.Color == 0 ? 1 : level.Color)"><span></span></div>
                        <span>@level.Name</span>
                    </div>
                    <div class="buttons">
                        <div class="options-button tooltippable" data-tooltip-text="Opcije"><i class="fa fa-cog"></i></div>
                    </div>
                </div>
                <ul class="level" data-level-id=@level.LevelID data-level-number=@level.Number data-level-type=@level.Type>
                    @foreach (CardBasicDTO card in level.Cards)
                    {
                        <li data-card-id=@card.CardID data-card-number=@card.Number>
                            <div class="card-info">
                                @if (card.Question != null)
                                {
                                    <span class="question">@card.Question</span>
                                }
                                else
                                {
                                    if (card.Image != null)
                                    {
                                        <span class="image">@card.Image</span>
                                        <div>upload dugme</div>
                                    }
                                }
                                <span class="answer">@card.Answer</span>
                                <span class="description">@card.Description</span>
                            </div>
                            <div class="buttons">
                                <div class="change-button tooltippable" data-tooltip-text="Izmeni karticu"><i class="fa fa-pencil"></i></div>
                                <div class="remove-button tooltippable" data-tooltip-text="Obriši karticu"><i class="fa fa-trash"></i></div>
                                <div class="accept-button tooltippable" data-tooltip-text="Prihvati promene"><i class="fa fa-check"></i></div>
                                <div class="discard-button tooltippable" data-tooltip-text="Odbaci promene"><i class="fa fa-times"></i></div>
                                <div class="undo-button tooltippable" data-tooltip-text="Opovrgni brisanje"><i class="fa fa-undo"></i></div>
                            </div>
                        </li>
                    }
                    <li class="new-card collapsed">
                        <div class="inner-wrapper">
                            <div class="new-card-question"><span>Pitanje:</span> <input class="question" type="text" /></div>
                            <div class="new-card-answer"><span>Odgovor</span> <input class="answer" type="text" /></div>
                            <div class="new-card-description"><span>Opis:</span> <input class="description" type="text" /></div>
                        </div>
                        <div class="add-button" data-function="expand"><i class="fa fa-plus"></i></div>
                    </li>
                </ul>
            </li>
        }
        <li id="new-level" class="collapsed">
            <div class="inner-wrapper">
                <div>
                    <span>Tip nivoa:</span>
                    <select>
                        <option value="simple">simple</option>
                        <option value="complex">complex</option>
                        <option value="image">image</option>
                    </select>
                </div>
                <div>
                    <span>Ime nivoa:</span>
                    <input type="text" />
                </div>
            </div>
            <div class="add-button" data-function="expand">+</div>
        </li>

    </ul>

    <div class="button" id="save"><i class="fa fa-floppy-o"></i></div>

</main>

<!--<div>
    @Html.ActionLink("Back to List", "Index")
</div>-->

<script src="~/Scripts/edit-course.js"></script>
