@model UpamtiMe.Models.CourseIndexModel

<main id="courses-index">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div id="search-form">
        
            <div class="search-form-input-group">
                <span>Naizv</span>
                @Html.EditorFor(model => model.Search, new { htmlAttributes = new { @class = "search-form-input" } })
            </div>

            <div class="search-form-input-group">
                <span>Kategorija</span>
                @Html.EditorFor(model => model.CategoryID, new { htmlAttributes = new { @class = "search-form-input" } })
            </div>

            <div class="search-form-input-group">
                <span>Podkategorija</span>
                @Html.EditorFor(model => model.SubcategoryID, new { htmlAttributes = new { @class = "search-form-input" } })
            </div>

            <div class="search-form-input-group search-button">
                <button type="submit" id="button-search" formmethod="get"><i class="fa fa-search"></i></button>
            </div>
        </div>
    }

    <div id="search-results-outer">
        <ul>
            @foreach (Data.DTOs.CourseDTO course in @Model.Courses)
            {
                @Helper.SearchResult(
                    Url, course.CourseID, course.Name, course.CategoryID, course.CategoryName, course.SubcategoryID, course.SubcategoryName,
                    course.Description, course.ParticipantCount, course.NumberOfCards, course.Rating, course.CreatorID, course.CreatorUsername, course.Image
                )
            }
        </ul>
    </div>
        
    <div class="more"><button @(Model.More == false ? "disabled" : "")>MORE</button></div>

</main>

<script src="~/Scripts/courses-index.js"></script>

<script type="text/javascript">
    var BlockNumber = 0; //ne => //Infinate Scroll starts from second block
    var NoMoreData = false;
    var inProgress = false;


    $('.more > button').click(function () {
        if (!inProgress) {

            inProgress = true;

            $.post("@Url.Action("InfinateScroll",
            "Courses")", { "BlockNumber": BlockNumber },
                    function (data) {

                        BlockNumber = BlockNumber + 1;
                        NoMoreData = data.NoMoreData;
                        $('#search-results-outer > ul').append(data.HTMLString);
                        if (data.NoMoreData) {
                            $('.more > button').html("NO MORE");
                            $('.more > button').attr('disabled',"");
                        }
                            
                        //$('#user-courses-always > ul').append(data.HTMLString);
                        //$("#bookListDiv").append(data.HTMLString);
                       // $("#loadingDiv").hide();
                        inProgress = false;
                    });
        }
    });
</script>

