@model UpamtiMe.Models.SessionModel

<table data-course-id="@Model.CourseID" style="width:1400px ; display: none " id="table-of-god">
    <thead style=" text-align: left; border-bottom: 1px solid; margin-bottom: 82px;">
    <th>@Html.DisplayNameFor(a => Model.Cards[0].UserCardInfo.UserCardID)</th>
    <th>@Html.DisplayNameFor(a => Model.Cards[0].BasicInfo.CardID)</th>
    <th>@Html.DisplayNameFor(a => Model.Cards[0].BasicInfo.Question)</th>
    <th>@Html.DisplayNameFor(a => Model.Cards[0].BasicInfo.Answer)</th>
    <th>@Html.DisplayNameFor(a => Model.Cards[0].BasicInfo.Description)</th>
    <th>@Html.DisplayNameFor(a => Model.Cards[0].UserCardInfo.LastSeen)</th>
    <th>@Html.DisplayNameFor(a => Model.Cards[0].UserCardInfo.NextSee)</th>
    <th>@Html.DisplayNameFor(a => Model.Cards[0].UserCardInfo.CorrectAnswers)</th>
    <th>@Html.DisplayNameFor(a => Model.Cards[0].UserCardInfo.WrongAnswers)</th>
    <th>@Html.DisplayNameFor(a => Model.Cards[0].UserCardInfo.Combo)</th>
    </thead>
    @foreach (Data.DTOs.CardSessionDTO card in @Model.Cards)
    {
        <tr>
            <td data-type="user-card-id">@Html.DisplayFor(a => card.UserCardInfo.UserCardID)</td>
            <td data-type="card-id">@Html.DisplayFor(a => card.BasicInfo.CardID)</td>
            <td data-type="question">@Html.DisplayFor(a => card.BasicInfo.Question)</td>
            <td data-type="answer">@Html.DisplayFor(a => card.BasicInfo.Answer)</td>
            <td data-type="description">@Html.DisplayFor(a => card.BasicInfo.Description)</td>
            <td data-type="last-seen">@Html.DisplayFor(a => card.UserCardInfo.LastSeen)</td>
            <td data-type="next-see">@Html.DisplayFor(a => card.UserCardInfo.NextSee)</td>
            <td data-type="correct-answers">@Html.DisplayFor(a => card.UserCardInfo.CorrectAnswers)</td>
            <td data-type="wrong-answers">@Html.DisplayFor(a => card.UserCardInfo.WrongAnswers)</td>
            <td data-type="combo">@Html.DisplayFor(a => card.UserCardInfo.Combo)</td>
        </tr>
    }


</table>



<main id="spajalica">

    <div class="workspace">
        <aside class="info">
            <div class="session-info">
                <!--<h3>Trenutna sesija</h3>-->
                <dl class="general">
                    <div><dt>Broj odgovora</dt> <dd id="cards-current-total">0</dd>
                    </div>
                    <div><dt>Tačnost</dt> <dd id="accuracy">0%</dd>
                    </div>
                    <div><dt>Životi</dt> <dd id="lives">3</dd>
                    </div>
                    <div><dt>Trenutni kombo</dt> <dd id="session-combo">0</dd>
                    </div>
                </dl>
                <dl class="total-score">
                    <div><dt>Osvojeni poeni</dt> <dd id="score">0</dd>
                    </div>
                </dl>
                <dl class="last-score">
                    <div><dt></dt><dd id="last-score"></dd>
                    </div>
                </dl>
                <dl class="last-score-breakdown">
                    <div><dt>Bazni skor</dt> <dd id="base-score" class="level-1">1</dd>
                    </div>
                    <!--<div><dt>Card combo</dt> <dd id="card-combo" class="level-1">&nbsp;</dd></div>-->
                    <div><dt>Kombo bonus</dt> <dd id="combo-bonus" class="level-1">+0</dd>
                    </div>
                    <div><dt>Brzinski bonus</dt> <dd id="time-bonus" class="level-1">+0</dd>
                    </div>
                </dl>
            </div>
        </aside>
        <div class="cards">
            <ul>
                <li>
                    <div class="chip" data-qa="q" data-id="1">
                        <div class="old"><span></span></div>
                        <div class="new"><span></span></div>
                    </div></li>
                <li>
                    <div class="chip" data-qa="a" data-id="1">
                        <div class="old"><span></span></div>
                        <div class="new"><span></span></div>
                    </div></li>
                <li>
                    <div class="chip" data-qa="q" data-id="2">
                        <div class="old"><span></span></div>
                        <div class="new"><span></span></div>
                    </div></li>
                <li>
                    <div class="chip" data-qa="a" data-id="2">
                        <div class="old"><span></span></div>
                        <div class="new"><span></span></div>
                    </div></li>
                <li>
                    <div class="chip" data-qa="q" data-id="3">
                        <div class="old"><span></span></div>
                        <div class="new"><span></span></div>
                    </div></li>
                <li>
                    <div class="chip" data-qa="a" data-id="3">
                        <div class="old"><span></span></div>
                        <div class="new"><span></span></div>
                    </div></li>
                <li>
                    <div class="chip" data-qa="q" data-id="4">
                        <div class="old"><span></span></div>
                        <div class="new"><span></span></div>
                    </div></li>
                <li>
                    <div class="chip" data-qa="a" data-id="4">
                        <div class="old"><span></span></div>
                        <div class="new"><span></span></div>
                    </div></li>
                <li>
                    <div class="chip" data-qa="q" data-id="5">
                        <div class="old"><span></span></div>
                        <div class="new"><span></span></div>
                    </div></li>
            </ul>
        </div>
        <aside class="timer">
            <div><span>06'28</span></div>
        </aside>
    </div>
  
   @Helper.SessionCover(@Model.CourseID, Url, 2)

</main>


<script src="~/Scripts/spajalica.js"></script>

