@using Data
@using Data.DTOs
@model UpamtiMe.Models.CourseProfileModel

@{
    ViewBag.Title = "Index";
}
@{ LoginDTO user = UserSession.GetUser();}

<main id="course-profile">

    <div class="banner">
        @if(user != null && user.UserID == Model.CreatorID)
        {
            <a href="@Url.Action("EditCourse", "Courses", new {id = @Model.CourseID})">Edit</a>
        }


        <div class="picture">
                @{
                    if (Model.Image != null)
                    {
                        var base64 = Convert.ToBase64String(Model.Image.ToArray());
                        var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
                        <img src="@imgSrc" width="208px" height="208px" />
                    }
                }

        </div>
        <div class="basic-info">
            <div class="course-name">@Model.Name</div>
            <div class="course-cat-subcat">
                <span class="cat" data-cat-id=@Model.CategoryID>@Model.CategoryName</span>
                <i class="fa fa-caret-right"></i>
                <span class="subcat" data-subcat-id=@Model.SubcategoryID>@Model.SubcategoryName</span>
            </div>
            <div class="course-description">@Model.Description</div>

        </div>
    </div>

    <div class="main-content">
        <div class="buttons">
            @if (user != null)
            {
                if (Model.Statistics == null)
                {
                    <div class="enroll-button">
                        @Html.ActionLink("Enroll", "Enroll", "Courses", new { id = Model.CourseID }, null)
                    </div>
                }
                else
                {
                    var learnLevelQuery = (from a in @Model.Levels where a.LearningStatistics.Unseen > 0 select new { id = a.LevelID, no = a.Number });
                    int learnLevel = learnLevelQuery.Any() ? learnLevelQuery.OrderBy(a => a.no).First().id : 0;
                    var reviewLevelQuery = (from a in @Model.Levels where a.LearningStatistics.Review > 0 select new {id = a.LevelID, no = a.Number});
                    int reviewLevel = reviewLevelQuery.Any() ? reviewLevelQuery.OrderBy(a => a.no).First().id : 0;

                    <div class="button button-rect learn-button">
                        <div class="btn-icon icon-id-learn"><span></span></div><span><a href="@Url.Action("Learn", new {courseID = Model.CourseID, levelID = @learnLevel})">Uči</a></span>
                    </div>
                    <div class="button button-rect review-button">
                        <div class="btn-icon icon-id-review"><span></span></div><span><a href="@Url.Action("Review", new {courseID = Model.CourseID, levelID = @reviewLevel})">Obnovi</a></span>
                    </div>
                    <div class="button button-rect overreview-button">
                        <div class="btn-icon icon-id-linky"><span></span></div><span><a href="@Url.Action("Linky", new { courseID = Model.CourseID })">Spajalica</a></span>
                    </div>
                }
            }
        </div>

        @{int index = -1;
        <ul class="levels">
            @for (int i = 0; i <= 2 * Model.Levels.Count / 9; i++)
            {
                <li class="level-group">
                    <ul>
                        @for (int j = 0; index + 1 < Model.Levels.Count && j < ((i % 2 == 0) ? 5 : 4); j++)
                        {
                            index++;
                            <li class="level @(index % 3 == 0 ? "level-green" : "") @(index % 3 == 1 ? "level-orange" : "") @(index % 3 == 2 ? "level-blue" : "")">
                                <div class="circle-display">
                                    <div class="icon icon-id-@(index + 1)">@*level.icon; level.color*@</div>
                                    <div class="name"><span>@Model.Levels[index].Number</span>@Model.Levels[index].Name</div>
                                    <div class="pie-ring-outer">
                                        <div class="pie-ring-inner">
                                            <div class="pie pie-learned" data-start="0" data-value="110"></div>
                                            <div class="pie pie-forgotten" data-start="110" data-value="100"></div>
                                            <div class="pie pie-unseen" data-start="210" data-value="150"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="more-info-outer">
                                    <div class="more-info-inner">

                                        <div class="session-buttons">
                                            <div class="button button-rect learn-button"><div class="btn-icon icon-id-learn"><span></span></div><span><a href="@Url.Action("Learn", new { courseID = Model.CourseID, levelID = @Model.Levels[index].LevelID})">Uči</a></span></div>
                                            <div class="button button-rect review-button"><div class="btn-icon icon-id-review"><span></span></div><span><a href="@Url.Action("Review", new { courseID = Model.CourseID, levelID = @Model.Levels[index].LevelID})">Obnovi</a></span></div>
                                            <div class="button button-rect overreview-button"><div class="btn-icon icon-id-linky"><span></span></div><span><a href="@Url.Action("Linky", new { courseID = Model.CourseID, levelID = @Model.Levels[index].LevelID})">Spajalica</a></span></div>
                                            <div class="button button-rect show-words-button"><div class="btn-icon icon-id-list"><span></span></div><span>Spisak</span></div>
                                        </div>

                                        <div class="level-info">

                                            @if (Model.Levels[index].LearningStatistics != null)
                                            {
                                            <div class="statistics">
                                                <dl class="stats stats-vertical level-total-card">
                                                    <dt>Ukupno</dt>
                                                    <dd>@Model.Levels[index].CardNumber</dd>
                                                </dl>
                                                <dl class="stats stats-vertical  level-learned-cards">
                                                    <dt>Nauceno</dt>
                                                    <dd>@Model.Levels[index].LearningStatistics.Learned</dd>
                                                </dl>
                                                <dl class="stats stats-vertical  level-review-cards">
                                                    <dt>Za obnavljanje</dt>
                                                    <dd>@Model.Levels[index].LearningStatistics.Review</dd>
                                                </dl>
                                                <dl class="stats stats-vertical  level-unseen-cards">
                                                    <dt>Neotvorenih</dt>
                                                    <dd>@Model.Levels[index].LearningStatistics.Unseen</dd>
                                                </dl>
                                            </div>

                                            <div class="words-highlight">

                                            </div>
                                            }
                                            
                                            <ul class="list-of-cards" id=@("list-of-cards-level-id-" + Model.Levels[index].LevelID)>
                                                @*@for (int c = 0; c < Model.Levels[index].CardNumber; c++)
                                                {
                                                    <li>@Model.Levels[index].</li>
                                                    Gde jke lsita kartica?
                                                }*@
                                            </ul>

                                        </div>

                                    </div>
                                </div>
                            </li>
                        }
                    </ul>
                </li>
            }
        </ul>
        }
    </div>

    <div class="sidebar">
        @if (Model.Statistics != null)
        {
            <div class="personal-stats">

                <dl class="stats stats-horizontal"><dt>Neotvorenih</dt><dd>@Model.Statistics.LearningStatistics.Unseen</dd></dl>
                <dl class="stats stats-horizontal"><dt>Za obnavljanje</dt><dd>@Model.Statistics.LearningStatistics.Review</dd></dl>
                <dl class="stats stats-horizontal"><dt>Nauceno</dt><dd>@Model.Statistics.LearningStatistics.Learned</dd></dl>
            </div>
        }
       

        <div class="course-stats">
            <span>Broj kartica:</span><span>@Model.NumberOfCards</span>
            <span>Broj ucenisnika:</span><span>@Model.ParticipantCount</span>
            <span>Kreator:</span><span>@Html.ActionLink(@Model.CreatorUsername, "Profile", "Users", new {id = @Model.CreatorID}, null)</span>
        </div>

        <div class="leaderbord">
            <p>All Time</p>

            @foreach (LeaderboardEntryDTO lde in Model.Leaderboard.OrderBy(a => a.AllTimeScore))
            {
                <span>@lde.Username</span>
                <span>@lde.AllTimeScore</span>
            }

            <p>This Week</p>
            @foreach (LeaderboardEntryDTO lde in Model.Leaderboard.OrderBy(a => a.WeekScore))
            {
                <span>@lde.Username</span>
                <span>@lde.WeekScore</span>
            }

            <p>This Month</p>
            @foreach (LeaderboardEntryDTO lde in Model.Leaderboard.OrderBy(a => a.MonthScore))
            {
                <span>@lde.Username</span>
                <span>@lde.MonthScore</span>
            }
        </div>
    </div>

</main>

<script src="~/Scripts/course-profile.js"></script>
