@using Data
@using Data.DTOs
@model UpamtiMe.Models.CourseProfileModel

@{
    ViewBag.Title = "Index";
}


<main id="course-profile">

    <div class="banner">
        @* TODO MASA // Nemamo sliku za nivo *@
        <div class="picture">

        </div>
        <div class="basic-info">
            <div class="course-name">@Model.Name</div>
            <div class="course-cat-subcat">
                <span class="cat">@Model.CategoryID</span><i class="fa fa-right-arrow"></i><span class="subcat">@Model.SubcategoryID</span>
            </div>
            <div class="course-description">@* TODO MASKE ne vidim descritpion*@</div>
        </div>
    </div>

    <div class="main-content">
        <div class="buttons">
            @if (Model.Statistics == null)
            {
                <div class="enroll">
                    @Html.ActionLink("Enroll", "Enroll", "Courses", new { id = Model.CourseID }, null)
                </div>
            }
            <div class="learn-button"><i class="fa fa-fw fa-graduation-cap"></i><span>Uči</span></div>
            <div class="review-button"><i class="fa fa-fw fa-bell"></i><span>Obnovi</span></div>
            <div class="overreview-button"><i class="fa fa-fw fa-leanpub"></i><span>Spajalica</span></div>
            @* TODO problem: ovo je ikonica nekog Leanpub.com, realno ne moze ovo xD*@
        </div>

        <ul>
            @foreach (LevelsDTO level in Model.Levels)
            {
                <li>
                    <div class="level-basic-info">
                        <div class="left"><span>@level.Number</span><span>@level.Name</span></div>
                        <div class="right">
                            <div class="level-total-card">
                                <span>Broj kartica</span>
                                <span>@level.Cards.Count</span>
                            </div>
                            <div class="show-more">
                                <i class="fa fa-ellipsis-v"></i>
                            </div>
                        </div>
                    </div>
                    <ul>@* Ovde cemo da importujemo AJAXom kad se expnaduje *@</ul>
                </li>
            }
        </ul>
    </div>

    <div class="sidebar">
        <div class="personal-stats">
            @if (Model.Statistics != null)
            {
                <span>Statistics: Learned/Total/Review</span>
                <span>@Model.Statistics.Learned</span>
                <span>@Model.Statistics.Total</span>
                <span>@Model.Statistics.Review</span>
            }
        </div>

        <div class="course-stats">
            <span>Broj kartica:</span><span>@Model.NumberOfCards</span>
            <span>Broj ucenisnika:</span><span>@Model.ParticipantCount</span>
            <span>Kreator:</span><span>@Model.CreatorUsername</span>
        </div>

        <div class="leaderbord">
            <p>All Time</p>

            @foreach (LeaderboardEntryDTO lde in Model.Leaderboard.OrderBy(a => a.AllTimeScore))
            {
                <span>@lde.Username</span>
                <span>@lde.AllTimeScore</span>
            }

            <p>This Week</p>
            @foreach (LeaderboardEntryDTO lde in Model.Leaderboard.OrderBy(a => a.WeekScore))
            {
                <span>@lde.Username</span>
                <span>@lde.WeekScore</span>
            }

            <p>This Month</p>
            @foreach (LeaderboardEntryDTO lde in Model.Leaderboard.OrderBy(a => a.MonthScore))
            {
                <span>@lde.Username</span>
                <span>@lde.MonthScore</span>
            }
        </div>
    </div>

</main>

