@model UpamtiMe.Models.SessionModel


<table data-course-id="@Model.CourseID" style="width:1400px ;" id="table-of-god">
    <thead style=" text-align:left; border-bottom: 1px solid; margin-bottom: 82px;">
    <th>@Html.DisplayNameFor(a => Model.Cards[0].UserCardInfo.UserCardID)</th>
    <th>@Html.DisplayNameFor(a => Model.Cards[0].BasicInfo.CardID)</th>
    <th>@Html.DisplayNameFor(a => Model.Cards[0].BasicInfo.Question)</th>
    <th>@Html.DisplayNameFor(a => Model.Cards[0].BasicInfo.Answer)</th>
    <th>@Html.DisplayNameFor(a => Model.Cards[0].BasicInfo.Description)</th>
    <th>@Html.DisplayNameFor(a => Model.Cards[0].UserCardInfo.LastSeen)</th>
    <th>@Html.DisplayNameFor(a => Model.Cards[0].UserCardInfo.NextSee)</th>
    <th>@Html.DisplayNameFor(a => Model.Cards[0].UserCardInfo.CorrectAnswers)</th>
    <th>@Html.DisplayNameFor(a => Model.Cards[0].UserCardInfo.WrongAnswers)</th>
    <th>@Html.DisplayNameFor(a => Model.Cards[0].UserCardInfo.Combo)</th>
    </thead>
    @foreach (Data.DTOs.CardSessionDTO card in @Model.Cards)
    {
        <tr>
            <td data-type="user-card-id">@Html.DisplayFor(a => card.UserCardInfo.UserCardID)</td>
            <td data-type="card-id">@Html.DisplayFor(a => card.BasicInfo.CardID)</td>
            <td data-type="question">@Html.DisplayFor(a => card.BasicInfo.Question)</td>
            <td data-type="answer">@Html.DisplayFor(a => card.BasicInfo.Answer)</td>
            <td data-type="description">@Html.DisplayFor(a => card.BasicInfo.Description)</td>
            <td data-type="last-seen">@Html.DisplayFor(a => card.UserCardInfo.LastSeen)</td>
            <td data-type="next-see">@Html.DisplayFor(a => card.UserCardInfo.NextSee)</td>
            <td data-type="correct-answers">@Html.DisplayFor(a => card.UserCardInfo.CorrectAnswers)</td>
            <td data-type="wrong-answers">@Html.DisplayFor(a => card.UserCardInfo.WrongAnswers)</td>
            <td data-type="combo">@Html.DisplayFor(a => card.UserCardInfo.Combo)</td>
        </tr>
    }


</table>

<main id="review-session">

    <div class="workspace">
        <aside class="info">
            <div class="session-info">
                <!--<h3>Trenutna sesija</h3>-->
                <dl class="general">
                    <div><dt>Broj odgovora</dt> <dd id="cards-current-total">11/20</dd>
                    </div>
                    <div><dt>Tačnost</dt> <dd id="accuracy">42%</dd>
                    </div>
                    <div><dt>Proteklo vreme</dt> <dd id="time">2'04"</dd>
                    </div>
                    <div><dt>Trenutni kombo</dt> <dd id="session-combo">4</dd>
                    </div>
                </dl>
                <dl class="total-score">
                    <div><dt>Osvojeni poeni</dt> <dd id="score">674</dd>
                    </div>
                </dl>
                <dl class="last-score">
                    <div><dt></dt><dd id="last-score"></dd>
                    </div>
                </dl>
                <dl class="last-score-breakdown">
                    <div><dt>Base score</dt> <dd id="base-score" class="level-1">&nbsp;</dd>
                    </div>
                    <div><dt>Card combo</dt> <dd id="card-combo" class="level-1">&nbsp;</dd>
                    </div>
                    <div><dt>Session combo</dt> <dd id="session-combo" class="level-1">&nbsp;</dd>
                    </div>
                    <div><dt>Time bonus</dt> <dd id="time-bonus" class="level-1">&nbsp;</dd>
                    </div>
                </dl>
            </div>
        </aside>
        <div class="cards">
            <div class="card current-card">
                <div class="card-content simple">
                    <div class="card-info">
                        <dl>
                            <dt>Poslednji put viđena</dt>
                            <dd id="card-last-seen">pre 18 sati</dd>
                        </dl>
                        <dl>
                            <dt>Kombo na kartici</dt>
                            <dd id="card-combo">3</dd>
                        </dl>
                    </div>
                    <div class="question">
                        <span>ođe je reč na srpski</span>
                    </div>
                    <div class="prompt">
                        <input type="text" spellcheck="false" id="type-answer">
                    </div>
                    <div class="given-answer">
                        <span></span>
                    </div>
                    <div class="correct-answer">
                        <span></span>
                    </div>
                    <button class="next">--></button>
                </div>
                <div class="timer" id="timer">
                    <div class="remaining-time">
                        <span>12"&nbsp;84</span>
                    </div>
                </div>
            </div>
            <div class="card next-card">
                <span>sledeća reč na srpski</span>
            </div>
        </div>
        <aside class="options">
            <button id="ignore">X</button>
            <button id="help">?</button>
            <button id="bookmark">!</button>
        </aside>
    </div>

    <aside class="progress-bar">
        <ul>
            <li class="current"></li>
            <li class="unopened"></li>
            <li class="unopened"></li>
            <li class="unopened"></li>
            <li class="unopened"></li>
            <li class="unopened"></li>
            <li class="unopened"></li>
            <li class="unopened"></li>
            <li class="unopened"></li>
            <li class="unopened"></li>
            <li class="unopened"></li>
            <li class="unopened"></li>
            <li class="unopened"></li>
            <li class="unopened"></li>
            <li class="unopened"></li>
            <li class="unopened"></li>
            <li class="unopened"></li>
            <li class="unopened"></li>
            <li class="unopened"></li>
            <li class="unopened"></li>
        </ul>
    </aside>

</main>


<script src="~/Scripts/obnavljanje.js"></script>