@model UpamtiMe.Models.SessionModel

<table data-course-id="@Model.CourseID" style="width:1400px ; display: none " id="table-of-god" data-session="review" data-link="@Model.Link">
    @foreach (Data.DTOs.CardSessionDTO card in @Model.Cards)
    {
        <tr>
            <td id="table-of-god-user-card-id">@Html.DisplayFor(a => card.UserCardInfo.UserCardID)</td>
            <td id="table-of-god-card-id">@Html.DisplayFor(a => card.BasicInfo.CardID)</td>
            <td id="table-of-god-question">@Html.DisplayFor(a => card.BasicInfo.Question)</td>
            <td id="table-of-god-answer">@Html.DisplayFor(a => card.BasicInfo.Answer)</td>
            <td id="table-of-god-description">@Html.DisplayFor(a => card.BasicInfo.Description)</td>
            <td id="table-of-god-since-seen">@Html.DisplayFor(a => card.UserCardInfo.SinceSeen)</td>
            <td id="table-of-god-since-plan">@Html.DisplayFor(a => card.UserCardInfo.SincePlan)</td>
            <td id="table-of-god-total-correct-answers">@Html.DisplayFor(a => card.UserCardInfo.CorrectAnswers)</td>
            <td id="table-of-god-total-wrong-answers">@Html.DisplayFor(a => card.UserCardInfo.WrongAnswers)</td>
            <td id="table-of-god-combo">@Html.DisplayFor(a => card.UserCardInfo.Combo)</td>
            <td id="table-of-god-goodness">@Html.DisplayFor(a => card.UserCardInfo.Goodness)</td>
            <td id="table-of-god-multiple-choice-1">@Html.DisplayFor(a => card.CardChallange.MultipleChoice[0])</td>
            <td id="table-of-god-multiple-choice-2">@Html.DisplayFor(a => card.CardChallange.MultipleChoice[1])</td>
            <td id="table-of-god-multiple-choice-3">@Html.DisplayFor(a => card.CardChallange.MultipleChoice[2])</td>
            <td id="table-of-god-multiple-choice-4">@Html.DisplayFor(a => card.CardChallange.MultipleChoice[3])</td>
            <td id="table-of-god-hangman">@Html.DisplayFor(a => card.CardChallange.Hangman)</td>
            <td id="table-of-god-scrabble">@Html.DisplayFor(a => card.CardChallange.Scrabble)</td>
            <td id="table-of-god-challenges">@Html.DisplayFor(a => card.CardChallange.Challenges)</td>
        </tr>
    }
</table>

<main id="review-session">

    <div class="workspace">
        <aside class="info">
            <div class="session-info">
                <dl class="general">
                    <div><dt>Broj odgovora</dt>     <dd id="cards-current-total" data-current="0" data-total="@(Model.Cards.Count*5)">0/@(Model.Cards.Count * 5)</dd></div>
                    <div><dt>Tačnost</dt>           <dd id="accuracy">0%</dd></div>
                    <div><dt>Proteklo vreme</dt>    <dd id="time">00'00"</dd></div>
                    <div><dt>Trenutni kombo</dt>    <dd id="session-combo">0</dd></div>
                </dl>
                <dl class="total-score">
                    <div><dt>Osvojeni poeni</dt>    <dd id="score">0.00</dd></div>
                </dl>
                <dl class="last-score">
                    <div><dt></dt><dd id="last-score">+0.00</dd></div>
                </dl>
                <dl class="last-score-breakdown">
                    <div class="tooltippable" data-tooltip-direction="bottom" data-tooltip-text="Osnova za poene, na osnovu proteklog vremena od poslednje pojave kartice"><dt>Osnova</dt> <dd id="base-score" class="level-2">0.00</dd></div>
                    <div class="tooltippable" data-tooltip-direction="bottom" data-tooltip-text="Bonus s kartice, na osnovu broja uzastopno datih tačnih odgovora na kartici"><dt>Kartica</dt> <dd id="card-combo" class="level-2">0.00</dd></div>
                    <div class="tooltippable" data-tooltip-direction="bottom" data-tooltip-text="Bonus sa sesije, na osnovu broja uzastopno datih tačnih odgovara tokom tekuće sesije"><dt>Sesija</dt> <dd id="session-combo-multiplier" class="level-2">0.00</dd></div>
                    <div class="tooltippable" data-tooltip-direction="bottom" data-tooltip-text="Bonus na vreme, na osnovu vremena koja je proteklo od pojave pitanja do davanja odgovora"><dt>Vreme</dt> <dd id="time-bonus" class="level-2">0.00</dd></div>
                </dl>
            </div>
        </aside>
        <div class="cards">
            <div class="card current-card">
                <div class="card-content simple">
                    <div id="preview" class="challange"></div>
                </div>
            </div>
        </div>
        @*<aside class="options">
            <button id="ignore">X</button>
            <button id="help">?</button>
            <button id="bookmark">!</button>
        </aside>*@
    </div>

    <aside class="progress-bar"><ul></ul></aside>

    @Helper.SessionCover(@Model.CourseID, Url, 1)

</main>


<script src="~/Scripts/sessions.js"></script>