@using Data.DTOs
@model UpamtiMe.Models.SessionModel

@{
    ViewBag.Title = "SessionTest";
}

<h2>SessionTest</h2>

<div>
    <h4>SessionModel</h4>
    <hr />
    <table style ="width:1400px ; ">
        <thead style=" text-align: left; border-bottom: 1px solid; margin-bottom: 82px;">
        <th>@Html.DisplayNameFor(a => Model.Cards[0].UserCardInfo.UserCardID)</th>
        <th>@Html.DisplayNameFor(a => Model.Cards[0].BasicInfo.Question)</th>
        <th>@Html.DisplayNameFor(a => Model.Cards[0].BasicInfo.Answer)</th>
        <th>@Html.DisplayNameFor(a => Model.Cards[0].BasicInfo.Description)</th>
        <th>@Html.DisplayNameFor(a => Model.Cards[0].UserCardInfo.LastSeen)</th>
        <th>@Html.DisplayNameFor(a => Model.Cards[0].UserCardInfo.NextSee)</th>
        <th>@Html.DisplayNameFor(a => Model.Cards[0].UserCardInfo.CorrectAnswers)</th>
        <th>@Html.DisplayNameFor(a => Model.Cards[0].UserCardInfo.WrongAnswers)</th>
        <th>@Html.DisplayNameFor(a => Model.Cards[0].UserCardInfo.Combo)</th>
        </thead>
        @foreach (CardSessionDTO card in @Model.Cards)
        {
            <tr>
                <td>@Html.DisplayFor(a => card.UserCardInfo.UserCardID)</td>
                <td>@Html.DisplayFor(a => card.BasicInfo.Question)</td>
                <td>@Html.DisplayFor(a => card.BasicInfo.Answer)</td>
                <td>@Html.DisplayFor(a => card.BasicInfo.Description)</td>
                <td>@Html.DisplayFor(a => card.UserCardInfo.LastSeen)</td>
                <td>@Html.DisplayFor(a => card.UserCardInfo.NextSee)</td>
                <td>@Html.DisplayFor(a => card.UserCardInfo.CorrectAnswers)</td>
                <td>@Html.DisplayFor(a => card.UserCardInfo.WrongAnswers)</td>
                <td>@Html.DisplayFor(a => card.UserCardInfo.Combo)</td>
            </tr>
        }


    </table>
</div>
