@using Data
@model UpamtiMe.Models.PartialModel

<aside id="sidebar" @(UserSession.GetUser() == null ? "" : "data-logged-in")>
    @if (Model.UserID > 0)
    {
        <div id="sidebar-basic-info">
            @{
                if (Model.Avatar != null)
                {
                    var base64 = Convert.ToBase64String(Model.Avatar.ToArray());
                    var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
                    <div id="sidebar-picture" style="background-image: url(@imgSrc)"></div>
                }
            }
            <div id="sidebar-names">
                <span>@Model.Name</span>
                <span><a href="@Url.Action("Profile", "Users", new { id = Model.UserID })">&#64;@Model.Username</a></span>
            </div>
        </div>
        <div id="sidebar-stats-info">
            <ul>
                <li><dl class="tooltippable" data-tooltip-text="Recke" data-tooltip-direction="top">
                    <dd><i class="fa fa-fire"></i></dd><dt>@Model.Streak</dt>
                </dl></li>
                <li><dl class="tooltippable" data-tooltip-text="Poeni" data-tooltip-direction="top">
                    <dd><i class="fa fa-line-chart"></i></dd><dt>@Model.Score.beautify()</dt>
                </dl></li>
                <li><dl class="tooltippable" data-tooltip-text="Pogledano kartica" data-tooltip-direction="bottom">
                    <dd><i class="fa fa-dashboard"></i></dd><dt>@Model.TotalCardsSeen</dt>
                </dl></li>
                <li><dl class="tooltippable" data-tooltip-text="Naučeno kartica" data-tooltip-direction="bottom">
                    <dd><i class="fa fa-file"></i></dd><dt>@Model.LearningStatistics.Learned</dt>
                </dl></li>
            </ul>
        </div>
        <div id="sidebar-leaderboard">

        </div>
        <div id="sidebar-favorite-courses">
            <ul class="acordeon">
                <li class="expanded">
                    <div class="acordeon-title">
                        <div class="sidebar-course-picture">O</div>
                        <div class="sidebar-course-name">ime tralala</div>
                    </div>
                    <div class="acordeon-content">
                        <div class="sidebar-course-session-buttons">
                            <div class="sidebar-course-session-button">a</div>
                            <div class="sidebar-course-session-button">b</div>
                            <div class="sidebar-course-session-button">c</div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="acordeon-title">
                        <div class="sidebar-course-picture">X</div>
                        <div class="sidebar-course-name">ime lololo</div>
                    </div>
                    <div class="acordeon-content">
                        <div class="sidebar-course-session-buttons">
                            <div class="sidebar-course-session-button">a</div>
                            <div class="sidebar-course-session-button">b</div>
                            <div class="sidebar-course-session-button">c</div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="acordeon-title">
                        <div class="sidebar-course-picture">K</div>
                        <div class="sidebar-course-name">lorem ipsum</div>
                    </div>
                    <div class="acordeon-content">
                        <div class="sidebar-course-session-buttons">
                            <div class="sidebar-course-session-button">a</div>
                            <div class="sidebar-course-session-button">b</div>
                            <div class="sidebar-course-session-button">c</div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="acordeon-title">
                        <div class="sidebar-course-picture">Š</div>
                        <div class="sidebar-course-name">ÄÅÉËÞ</div>
                    </div>
                    <div class="acordeon-content">
                        <div class="sidebar-course-session-buttons">
                            <div class="sidebar-course-session-button">a</div>
                            <div class="sidebar-course-session-button">b</div>
                            <div class="sidebar-course-session-button">c</div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div id="sidebar-graph">
            <canvas id="sidebar-graph-points" width="200" height="100" data-points="@Model.Statistics.Scores" data-dates="@Model.Statistics.Dates"></canvas>
        </div>
        <div id="sidebar-buttons">
            <div class="sidebar-button tooltippable" data-tooltip-text="Pomoć" data-tooltip-direction="top">
                <div class="button-icon"><i class="fa fa-question"></i></div>
                <div class="button-text">Halp</div>
            </div>
            <div class="sidebar-button tooltippable" data-tooltip-text="Pomoć" data-tooltip-direction="top">
                <div class="button-icon"><i class="fa fa-bell"></i></div>
                <div class="button-text">Bell</div>
            </div>
            <div class="sidebar-button tooltippable" data-tooltip-text="Kontakt" data-tooltip-direction="top">
                <div class="button-icon"><i class="fa fa-envelope"></i></div>
                <div class="button-text">Kontakt</div>
            </div>
            <div class="sidebar-button tooltippable" data-tooltip-text="O nama" data-tooltip-direction="top">
                <div class="button-icon"><i class="fa fa-info"></i></div>
                <div class="button-text">O nama</div>
            </div>
        </div>
    }
    else
    {
        <span>REGISTRUJ SE MAJMUNE</span>
    }
</aside>

<script src="~/Scripts/sidebar.js"></script>
