@using Data
@model UpamtiMe.Models.SidebarModel

<aside id="sidebar" data-logged-in=@(UserSession.GetUser() == null ? "false" : "true")>
    @if (Model.UserID > 0)
    {
        <div id="sidebar-basic-info">
            @{
                if (Model.Avatar != null)
                {
                    var base64 = Convert.ToBase64String(Model.Avatar.ToArray());
                    var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
                    <div id="sidebar-picture" style="background-image: url(@imgSrc)"></div>
                }
            }
            <div id="sidebar-names">
                <span>@Model.Name</span>
                <span><a href="@Url.Action("Profile", "Users", new { id = Model.UserID })">&#64;@Model.Username</a></span>
            </div>
        </div>
        <div id="sidebar-stats-info">
            <ul>
                <li><dl class="tooltippable" data-tooltip-text="Recke" data-tooltip-direction="top">
                    <dd><i class="fa fa-fire"></i></dd><dt>@Model.Streak</dt>
                </dl></li>
                <li><dl class="tooltippable" data-tooltip-text="Poeni" data-tooltip-direction="top">
                    <dd><i class="fa fa-line-chart"></i></dd><dt>@Model.Score.beautify()</dt>
                </dl></li>
                <li><dl class="tooltippable" data-tooltip-text="Pogledano kartica" data-tooltip-direction="bottom">
                    <dd><i class="fa fa-dashboard"></i></dd><dt>@Model.TotalCardsSeen</dt>
                </dl></li>
                <li><dl class="tooltippable" data-tooltip-text="Naučeno kartica" data-tooltip-direction="bottom">
                    <dd><i class="fa fa-file"></i></dd><dt>@Model.LearningStatistics.Learned</dt>
                </dl></li>
            </ul>
        </div>
        <div id="sidebar-leaderboard">

        </div>
        <div id="sidebar-favorite-courses">
            <ul class="acordeon">
                @{ bool isFirst = true;
                    foreach (Data.DTOs.FavoriteCourseDTO course in Model.FavoriteCourses)
                    {
                        <li class="@(isFirst ? "expanded" : "")">
                            <div class="acordeon-title">
                                <div class="sidebar-course-name">@course.Name</div>
                            </div>
                            <div class="acordeon-content">
                                <div class="sidebar-course-session-buttons" style="background-image: url(@String.Format("data:image/gif;base64,{0}", Convert.ToBase64String(course.Image.ToArray())))">
                                    @Helper.Button("rect", "", "graduation-cap", "Uči (" + @Math.Min(course.LearningStatistics.Unseen, ConfigurationParameters.LearningSessionCardNumber) + "/" + course.LearningStatistics.Unseen + ")", Url.Action("Learn", "Courses", new { courseID = @course.CourseID }), false)
                                    @Helper.Button("rect", "", "bell", "Obnovi (" + @Math.Min(course.LearningStatistics.Review, ConfigurationParameters.ReviewSessionCardNumber) + "/" + course.LearningStatistics.Review + ")", Url.Action("Review", "Courses", new { courseID = @course.CourseID }), false)
                                    @{ var enable = (course.LearningStatistics.Learned >= ConfigurationParameters.LinkyLimit); }
                                    @Helper.Button("rect", "", "chain", "Spajalica (" + @Math.Min(course.LearningStatistics.Learned, ConfigurationParameters.LinkySessionCardNumber) + "/" + course.LearningStatistics.Learned + ")", Url.Action("Linky", "Courses", new { courseID = @course.CourseID }), false, enabled: enable)
                                </div>
                            </div>
                        </li>
                        isFirst = false;
                    }
                }
            </ul>
        </div>
        <div id="sidebar-graph">
            <canvas id="sidebar-graph-points" width="200" height="100" data-points="@Model.Statistics.Scores" data-dates="@Model.Statistics.Dates"></canvas>
        </div>
        <div id="sidebar-buttons">
            <div class="sidebar-button tooltippable" data-tooltip-text="Pomoć" data-tooltip-direction="top">
                <a href="#!">
                    <div class="button-icon"><i class="fa fa-question"></i></div>
                    <div class="button-text">Pomoć</div>
                </a>
            </div>
            @if (UserSession.GetUser() != null)
            {
                <div class="sidebar-button tooltippable" data-tooltip-text="Izloguj se (@@@UserSession.GetUser().Username)" data-tooltip-direction="top">
                    <a href="@Url.Action("Index", "Home", new { logOut = true })">
                        <div class="button-icon"><i class="fa fa-key"></i></div>
                        <div class="button-text">Izloguj se</div>
                    </a>
                </div>
            }
            else
            {
                <div class="sidebar-button tooltippable" data-tooltip-text="Uloguj se" data-tooltip-direction="top">
                    <a href="@Url.Action("Index", "Home")">
                        <div class="button-icon"><i class="fa fa-key"></i></div>
                        <div class="button-text">Uloguj se</div>
                    </a>
                </div>
            }
            <div class="sidebar-button tooltippable" data-tooltip-text="Kontakt" data-tooltip-direction="top">
                <a href="#!">
                    <div class="button-icon"><i class="fa fa-envelope"></i></div>
                    <div class="button-text">Kontakt</div>
                </a>
            </div>
            <div class="sidebar-button tooltippable" data-tooltip-text="O nama" data-tooltip-direction="top">
                <a href="#!">
                    <div class="button-icon"><i class="fa fa-info"></i></div>
                    <div class="button-text">O nama</div>
                </a>
            </div>
        </div>
    }
    else
    {
        <span>REGISTRUJ SE MAJMUNE</span>
    }
</aside>

<script src="~/Scripts/sidebar.js"></script>
